@model CuaHangDoAn.ModelView.AddRoleMV



<form method="post">
<table class="table table-striped" id="tablee">
    <thead>
        <tr>
            <th>Tài khoản</th>
            <th>
                    @Model.Name
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
            <tr>
                <td> Các Role</td>
                <td>
                    @Html.ListBoxFor(m => m.Roles, new SelectList(ViewBag.SelectlistRole), new { @class = "form-select col-6",
                    @multiple = "multiple", @aria_label = "multiple select example" , @size = "3" })
                </td>
            </tr>
    </tbody>
</table>
<button class="btn btn-info" type="submit">Lưu thay đổi</button>

</form>
