@model Microsoft.AspNetCore.Identity.IdentityRole

@{
    //Layout = null;
}
<h1 class="text-center">Tạo vai trò mới</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <div class="form-group">
                    <label asp-for="Name" class="control-label"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            
            <div class="form-group mt-3">
                <input type="submit" value="Tạo mới" class="btn btn-primary" />
                <a class="btn btn-secondary offset-1 " asp-action="Index">Trở về danh sách</a>
            </div>
        </form>
    </div>
</div>

