@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Forgot password confirmation";
}
<link rel="stylesheet" href="~/AdminAsset/css/styles.min.css" />
<h1>@ViewData["Title"]</h1>
<p>
    Please check your email to reset your password.
</p>
