@model List<CategoryProduct>


    <div class="hero__categories">
        <div class="hero__categories__all">
            <i class="fa fa-bars"></i>
        <span> All Categories</span>
        </div>
        <ul>
            @foreach (var item in Model)
            {
                <li><a asp-action="Category" asp-route-IDCategory="@item.Id">@item.Name</a></li>
            }
           
            <li><a href="~/admin">Qua Admin</a></li>
            
        </ul>
    </div>

